body{
    background-color: #323232;
    color: white;
}
h1{
    text-align: center;
    font-family: monospace;
}
form{
    font-family: sans-serif;
    margin: auto;
    width: 50%;
    color: white;
    text-align: center;
}
form > *{
    margin: auto;
    width: 100%;
}
input[type="text"]{
    color: white;
    border: 0;
    background-color: #323232;
    height: 50px;
    border-bottom: 5px solid white;
}
input[type="submit"]{
    margin: auto;
    width: 25%;
}
.error{
    background-color: red !important;
}
#checkbox-area{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#genre-area{
    width: 75%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: 'title title'
                          'first second';
}
#test{
    grid-area: title;
    margin-bottom: 10px;
}
#genreFirst, #genreSecond{
    width: 200px;
    height: 170px;
    border: 5px solid white;
    grid-row-start: 2;
    margin: 5px;
}
#genreFirst{
    grid-area: first;
}
#genreSecond{
    grid-area: second;
}
.verify-image{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#one{
  background-image: url('images/1.gif');  
}
#two{
    background-image: url('images/2.gif');  
  }
#three{
  background-image: url('images/3.gif');  
}
#four{
    background-image: url('images/4.gif');  
  }
.invalid{
      opacity: 0.5;
  }
.error-message{
    background-color: red;
    padding: 10px;
    opacity: 1;
    user-select: none;
    position: absolute;
    right: 10%;
}